---
layout: default
title: Services
suppress_header: true
---

<div class="services">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <a href="/subscription">
          <img src="/images/icons/subscription.png" id="subscription">
          <h2>Subscription</h2>
          <p>Support and access to GitLab Enterprise Edition.</p>
        </a>
      </div>
      <div class="col-sm-6 col-md-4">
        <a href="/consultancy">
          <img src="/images/icons/consultancy.png" id="consultancy">
          <h2>Consultancy</h2>
          <p>Upgrade or install GitLab.</p>
        </a>
      </div>
      <div class="col-sm-6 col-md-4">
        <a href="/development">
          <img src="/images/icons/development.png" id="development">
          <h2>Development</h2>
          <p>Add a new feature to GitLab.</p>
        </a>
      </div>
      <div class="col-sm-6 col-md-4">
        <a href="/training">
          <img src="/images/icons/training.png" id="training">
          <h2>Training</h2>
          <p>Git training workshop.</p>
        </a>
      </div>
      <div class="col-sm-6 col-md-4">
        <a href="/gitlab-com">
          <img src="/images/icons/bookmark.png" id="gitlab-com">
          <h2>GitLab.com</h2>
          <p>GitLab as a free service (SaaS).</p>
        </a>
      </div>
    </div>
  </div>
</div>

<link href="/stylesheets/services.css" rel="stylesheet">
<link href="/stylesheets/animate.min.css" rel="stylesheet">
