.wrapper {
  background: #f9f9f9;
}

.nav-justified>li>a {
  color: #848484;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

hr {
  border-top: 1px solid #E4E4E4;
}

.title {
  font-size: 49px;
  color: #fff;
  line-height: 66px;
  text-transform: uppercase;
  text-align: left;
  font-weight: 300;
  margin: 10px auto;
  margin-top: 50px;
}

.header-text {
  font-weight: 300;
  font-size: 18px;
  color: #fff;
  line-height: 24px;
  width: 600px;
  text-align: justify;
}

.head-bg {
  background: url('/images/feature_page/lines.png') center right no-repeat;
  min-height: 390px
}

.header-text .actions {
  margin-top: 25px;
  text-align: justify;
}

.actions.ee {
  text-align: center;
  padding-top: 35px;
}

.feature-row {
  margin: 80px 0px;
  margin-top: 30px;
}

.small-feature {
  margin-top: 50px;
}

.small-feature .name {
  font-weight: 200;
  font-size: 25px;
  text-align: center;
  padding-bottom: 10px;
  color: #212121;
  line-height: 34px;
}

.small-feature img {
  -moz-box-shadow:    0px 3px 3px 0px rgba(124,124,124,0.50);
  box-shadow:         0px 3px 3px 0px rgba(124,124,124,0.50);
}

.small-feature .link {
  text-align: center;
  margin-top: 6px;
}

.small-feature .link a {
  text-align: center;
  font-weight: 200;
  font-size: 13px;
  color: #747474;
  line-height: 18px;
}

.feature {
  width: 750px;
  height: 400px;
  margin: 70px auto;
  text-align: left;
}

.feature .name {
  font-size: 29px;
  color: #000000;
  line-height: 39px;
  text-transform: uppercase;
  font-weight: 300;
}

.feature .description {
  font-size: 23px;
  color: #737373;
  line-height: 32px;
  font-weight: 300;
  margin-bottom: 5px;
}

.feature img {
  margin: auto;
}

.img {
  height: 299px;
  width: 749px;
  overflow: hidden;
  border: 1px solid #DFDFDF;
}

.img img {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.img:hover img {
  -webkit-transform:scale(1.15); /* Safari and Chrome */
  -moz-transform:scale(1.15); /* Firefox */
  -ms-transform:scale(1.15); /* IE 9 */
  -o-transform:scale(1.15); /* Opera */
   transform:scale(1.15);
}

.feature .link {
  text-align: right;
  padding-top: 5px;
}

.feature .link a {
  text-decoration: none;
  font-size: 15px;
  color: #a9a9a9;
  line-height: 20px;
}

.feature .link a:hover {
  color: #0E74AD;
}

.wide-feature {
  width: 100%;
}

.wide-feature .row {
  /*max-width: 1000px;*/
  margin: auto;
}

.wide-feature.head {
  background-color: #548;
  padding: 150px 0px;
}

.wide-feature.head .btn-default {
  background: #5D4D93;
  color: white;
  border-color: white;
  transition: all 0.2s;
  border-width: 0px;
}

.wide-feature.head .btn-default:hover {
  background: white;
  color: #8865A8;
  border-color: white;
}


.wide-feature.mr {
  background: #F1F1F1;
  background-attachment: fixed;
  text-align: center;
}
.wide-feature.mr img.img-responsive {
  margin: auto;
  display: inline;
}

.wide-feature.ee {
  background: #412A55;
  height: 300px;
}

.wide-feature .name {
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
  color: #fff;
  font-size: 40px;
}

.wide-feature.mr .name {
  font-size: 50px;
  color: #212121;
  line-height: 68px;
  padding-top: 50px;
}

.wide-feature .description {
  text-align: center;
  font-weight: 300;
  color: #fff;
  font-size: 23px;
}

.wide-feature.mr .description {
  font-size: 20px;
  color: #353535;
  line-height: 27px;
  font-weight: 200;
  margin-bottom: 30px;
}

.wide-feature-link {
  text-align: right;
  padding-top: 5px;
}

.wide-feature-link a {
  text-decoration: none;
  font-size: 15px;
  color: #a9a9a9;
  line-height: 20px;
}

.half-feature {
  width: 400px;
  margin: auto;
  margin-top: 50px;
}

.half-feature .name {
  font-size: 29px;
  color: #000000;
  line-height: 39px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 300;
}

.half-feature .img {
  width: 400px;
  height: 300px;
  overflow: hidden;
  border: 1px solid #DFDFDF;
}

.half-feature .link {
  text-align: right;
  padding-top: 5px;
}

.half-feature .link a {
  text-decoration: none;
  color: #a9a9a9;
}

.half-feature .link a:hover {
  color: #0E74AD;
}

.half-feature .right {
  float: right;
}

.qnav {
  background: #2F0D52;
  position: absolute;
  width: 100%;
}

.compare {
  margin-bottom: 80px;
}
.compare .title {
  font-weight: 600;
  font-size: 47px;
  color: #171717;
  line-height: 64px;
  text-align: center;
  padding-bottom: 50px;
}

.compare .action {
  text-align: center;
  margin-top: 50px;
}

.compare .btn-default {
  color: #fff;
  background: #548;
  border-width: 0px;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.compare .btn-default:hover {
  color: #fff;
  background: #403366;
  border-width: 0px;
}

.compare .btn-lg {
  font-size: 21px;
}

.circle {
  background: #85F806;
  border-radius: 50%;
  width: 27px;
  height: 27px;
  margin: auto;
}

.table {
  width: auto;
  margin: auto;
}

table.table th {
  text-align: center;
  font-weight: 300;
  font-size: 20px;
  color: #505050;
  line-height: 27px;
  border: 0px;
}

table.table tr {
  border: none;
  font-weight: 600;
}

table.table tr a {
  font-weight: 600;
}

table.table td {
  font-size: 14px;
  color: #313131;
  line-height: 27px !important;
}

.table>thead>tr>th {
  border-bottom: none;
}

.table-striped>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th {
  background-color: #FFFFFF;
  border: none;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
  border: none;
}

.qfix {
  position: fixed;
  z-index: 100;
  top: 50px;
  width: 100%;
}

.nav-justified>li>a {
  color: #fff;
}

.nav-pills>li>a {
  border-radius: 0px;
}

.nav-pills>li>a:hover {
  background: #548;
}
