---
layout: default
suppress_header: true
---
<link href="/stylesheets/sticky_footer.css" rel="stylesheet">
<link href="/stylesheets/intermediate.css" rel="stylesheet">
<link href="/stylesheets/animate.min.css" rel="stylesheet">

<div class="wrapper container-fluid">

  <div class="products">

    <div class="col-md-4 product">
      <a href="/features/">
        <img src="/images/products/product_ce.png" class="img-responsive" id="ce">
        <h1>Community Edition</h1>
        <p class="lead">GitLab CE is open source software to collaborate on code</p>
      </a>
    </div>

    <div class="col-md-4 product ee">
      <a href="/features/#enterprise">
        <img src="/images/products/product_ee.png" class="img-responsive" id="ee">
        <h1>Enterprise Edition</h1>
        <p class="lead">GitLab EE is similar to CE but with additional features</p>
      </a>
    </div>

    <div class="col-md-4 product ci">
      <a href="/gitlab-ci/">
        <img src="/images/products/product_ci.png" class="img-responsive" id="ci">
        <h1>Continuous Integration</h1>
        <p class="lead">GitLab CI runs tests for your GitLab projects</p>
      </a>
    </div>

  </div>

</div>
