---
layout: default
title: Company
suppress_header: true
---

<div class="company">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <a href="/blog">
          <img src="/images/icons/blog.png" id="blog_page">
          <h2>Blog</h2>
          <p>The latest news.</p>
        </a>
      </div>
      <div class="col-sm-6 col-md-4">
        <a href="/press">
          <img src="/images/icons/press.png" id="press">
          <h2>Press</h2>
          <p>Information for journalists.</p>
        </a>
      </div>
      <div class="col-sm-6 col-md-4">
        <a href="/about">
          <img src="/images/icons/about_us.png" id="about_us">
          <h2>About Us</h2>
          <p>The vision of GitLab B.V..</p>
        </a>
      </div>
      <div class="col-sm-6 col-md-4">
        <a href="/team">
          <img src="/images/icons/team_alt.png" id="team">
          <h2>Team</h2>
          <p>Meet our team.</p>
        </a>
      </div>
      <div class="col-sm-6 col-md-4">
        <a href="/jobs">
          <img src="/images/icons/jobs.png" id="jobs">
          <h2>Jobs</h2>
          <p>Join our team.</p>
        </a>
      </div>
      <div class="col-sm-6 col-md-4">
        <a href="/terms">
          <img src="/images/icons/terms.png" id="terms">
          <h2>Terms</h2>
          <p>Terms, conditions and policies.</p>
        </a>
      </div>
      <div class="clearfix visible-sm-block"></div>
      <div class="col-sm-6 col-md-4">
        <a href="/contact">
          <img src="/images/icons/contact_us.png" id="contact_us">
          <h2>Contact Us</h2>
          <p>How to get in touch.</p>
        </a>
      </div>
    </div>
  </div>
</div>

<link href="/stylesheets/company.css" rel="stylesheet">
<link href="/stylesheets/animate.min.css" rel="stylesheet">